.example-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}

.naziv-col {
  flex: 0 0 100px !important;
  white-space: unset !important;
}

.button-row {
  margin: 2%;
}

mat-spinner {
  margin: auto;
  top: 30px;
}

