<mat-toolbar color="accent">
  <span i18n>Dodaj nov dolg</span>
</mat-toolbar>
<div mat-dialog-actions>
  <mat-tab-group>
    <mat-tab i18n-label label="PREPROSTO">
      <form [formGroup]="dolgForm" (ngSubmit)="onFormSubmit(dolgForm.value)">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label i18n>Naziv</mat-label>
          <input matInput i18n-placeholder placeholder="Naziv" formControlName="naziv"
                 >
          <mat-error>
            <span *ngIf="!dolgForm.get('naziv').valid && dolgForm.get('naziv').touched" i18n>Prosim vnesite naziv</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label i18n>Vzrok</mat-label>
          <mat-select i18n-placeholder placeholder="Vzrok" formControlName="vzrok"
                      >
            <mat-option i18n-matTooltip matTooltip="Tehničen vzrok: izvorna koda ali oblikovanje je preveč kompleksno za nadaljnji
            razvoj. Namerne odločitve za vpeljavo tehničnega dolga, da se izognemo dolgim in kompleksnim rešitvam.
            Lahko gre za motivacijsko težavo ali rešitev, ki omogoča nadaljnjo delovanje programske opreme, ki se
            razvija." matTooltipPosition="after"
                        i18n-value value="tehničen" i18n>Tehničen vzrok</mat-option>
            <mat-option i18n-matTooltip matTooltip="Organizacijski vzrok: Informacijska rešitev ali funkcionalnost, mora biti
            pripravljena za prikaz delovanja. Zaradi plana razvijalnega podjetja razvijalci vpeljejo tehničen dolg,
            saj ni dovolj časa za pravilno implementacijo." matTooltipPosition="after"
                        i18n-value value="organizacijski" i18n>Organizacijski vzrok</mat-option>
          </mat-select>
          <mat-error>
        <span
          *ngIf="!dolgForm.get('vzrok').valid && dolgForm.get('vzrok').touched" i18n>Prosim vnesite vzrok</span>
          </mat-error>
        </mat-form-field>
        <mat-icon i18n-matTooltip matTooltip="Izberite vzrok, ki je povzročil nastanek dolga" matTooltipPosition="after">help</mat-icon>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label i18n>Opis</mat-label>
          <textarea matInput i18n-placeholder placeholder="Opis" formControlName="opis"
                 ></textarea>
          <mat-error>
            <span *ngIf="!dolgForm.get('opis').valid && dolgForm.get('opis').touched" i18n>Prosim vnesite opis</span>
          </mat-error>
        </mat-form-field>
        <mat-icon i18n-matTooltip matTooltip="Opišite dolg, njegove posledice in prepoznane simptome" matTooltipPosition="after">help</mat-icon>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label i18n>Obseg</mat-label>
          <textarea matInput i18n-placeholder placeholder="Obseg" formControlName="obseg"
                 ></textarea>
          <mat-error>
            <span *ngIf="!dolgForm.get('obseg').valid && dolgForm.get('obseg').touched" i18n>Prosim vnesite obseg</span>
          </mat-error>
        </mat-form-field>
        <mat-icon i18n-matTooltip matTooltip="Kaj dolg zajema in kje ga najdemo, seznam datotek, razredov, metod, dokumentov, strani..."
                  matTooltipPosition="after">help</mat-icon>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label i18n>Ocena</mat-label>
          <input matInput class="example-right-align" type="number" i18n-placeholder placeholder="Ocena" formControlName="ocena"
                 >
          <span matSuffix>{{projekt.tip_ocena}}</span>
          <mat-error>
            <span *ngIf="!dolgForm.get('ocena').valid && dolgForm.get('ocena').touched" i18n>Prosim vnesite oceno</span>
          </mat-error>
        </mat-form-field>
        <mat-icon i18n-matTooltip matTooltip="Ocenite količino dolga" matTooltipPosition="after">help</mat-icon>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label i18n>Kritičnost</mat-label>
          <mat-select i18n-placeholder placeholder="Kritičnost" formControlName="kriticnost"
                      >
            <mat-option  i18n-value value="blokada" i18n>Blokada</mat-option>
            <mat-option  i18n-value value="kritična" i18n>Kritična</mat-option>
            <mat-option  i18n-value value="visoka" i18n>Visoka</mat-option>
            <mat-option  i18n-value value="srednja" i18n>Srednja</mat-option>
            <mat-option  i18n-value value="nizka" i18n>Nizka</mat-option>
          </mat-select>
          <mat-error>
        <span
          *ngIf="!dolgForm.get('kriticnost').valid && dolgForm.get('kriticnost').touched" i18n>Prosim vnesite kritičnost</span>
          </mat-error>
        </mat-form-field>
        <mat-icon i18n-matTootlip matTooltip="Označite kritičnost dolga" matTooltipPosition="after">help</mat-icon>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label i18n>Status</mat-label>
          <mat-select i18n-placeholder placeholder="Status" formControlName="status"
                      >
            <mat-option  i18n-value value="odprt" i18n>Odprt</mat-option>
            <mat-option  i18n-value value="v delu" i18n>V delu</mat-option>
            <mat-option  i18n-value value="ponovno odprt" i18n>Ponovno odprt</mat-option>
            <mat-option  i18n-value value="rešeno" i18n>Rešeno</mat-option>
            <mat-option i18n-value  value="zaključeno" i18n>Zaključeno</mat-option>
          </mat-select>
          <mat-error>
        <span
          *ngIf="!dolgForm.get('status').valid && dolgForm.get('status').touched" i18n>Prosim vnesite status</span>
          </mat-error>
        </mat-form-field>
        <mat-icon i18n-matTootltip matTooltip="Označite status dolga" matTooltipPosition="after">help</mat-icon>
        <mat-form-field class="skrito">
          <input matInput [(ngModel)]="projekt.clan" formControlName="clan">
        </mat-form-field>
        <mat-form-field class="skrito">
          <input matInput [(ngModel)]="projekt.clan1" formControlName="clan1">
        </mat-form-field>
        <mat-form-field class="skrito">
          <input matInput [(ngModel)]="projekt.clan2" formControlName="clan2">
        </mat-form-field>
        <mat-form-field class="skrito">
          <input matInput [(ngModel)]="projekt.clan3" formControlName="clan3">
        </mat-form-field>
        <mat-form-field class="skrito">
          <input matInput [(ngModel)]="projekt.clan4" formControlName="clan4">
        </mat-form-field>
        <mat-form-field class="skrito">
          <input matInput [(ngModel)]="projekt.clan5" formControlName="clan5">
        </mat-form-field>
        <mat-form-field class="skrito">
          <input matInput [(ngModel)]="projekt.clan6" formControlName="clan6">
        </mat-form-field>
        <mat-form-field class="skrito">
          <input matInput [(ngModel)]="projekt.clan7" formControlName="clan7">
        </mat-form-field>
        <mat-form-field class="skrito">
          <input matInput [(ngModel)]="projekt.clan8" formControlName="clan8">
        </mat-form-field>
        <mat-form-field class="skrito">
          <input matInput [(ngModel)]="projekt.clan9" formControlName="clan9">
        </mat-form-field>
        <mat-divider></mat-divider>
        <div class="button-row">
          <button type="submit" [disabled]="!dolgForm.valid" mat-raised-button color="accent">
            <mat-icon>save</mat-icon>
          </button>
        </div>
      </form>
    </mat-tab>
    <mat-tab i18n-label label="NAPREDNO">
      <form [formGroup]="dolgForm" (ngSubmit)="onFormSubmit(dolgForm.value)">
        <mat-form-field class="example-full-width" appearance="outline">
          <input matInput i18n-placeholder placeholder="Naziv" formControlName="naziv"
                 >
          <mat-error>
            <span *ngIf="!dolgForm.get('naziv').valid && dolgForm.get('naziv').touched" i18n>Prosim vnesite naziv</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-select i18n-placeholder placeholder="Tip" formControlName="tip"
                      >
            <mat-option i18n-matTooltip matTooltip="•	Načrtovalski dolg (angl. Design debt): Se nanaša na tehnične bližnjice, ki so bile
             uporabljene v času podrobnega načrtovanja. Načrtovalski dolg odkrijemo z analiziranjem izvorne kode in
             identifikacijo kršenja dobrih praks objektno orientiranega programiranja. Pokazatelji dolga so pomanjkljiva
             koda, kompleksni razredi in metode, kopičenje kode brez vzorca v razredih, ki sledijo načrtovanemu vzorcu,
             ter nepopolne načrtovalne specifikacije. " matTooltipPosition="after"
                        (click)="tip_1()" i18n-value  value="načrtovalski dolg" i18n>Načrtovalski dolg</mat-option>
            <mat-option i18n-matTooltip matTooltip="•	Arhitekturni dolg (angl. Arhitectural debt): Povzročijo ga arhitekturne odločitve,
            ki izvajajo kompromise v kvaliteti. Nanaša se na napake v arhitekturi projekta, ki vplivajo na zahteve po
            kakovostni izvedbi in robustnosti. Odprava arhitekturnega dolga zahteva implementacijo obsežnih aktivnosti
            razvijalcev. Pokazatelji dolga so arhitekturne pomanjkljivosti, arhitekturni anti-vzorci, kompleksne
            vedenjske odvisnosti, kršenje dobrih arhitekturnih praks, arhitekturne težave s skladnostjo in težave s
            kakovostjo strukture na nivoju sistema. " matTooltipPosition="after"
                        (click)="tip_2()"  i18n-value value="arhitekturni dolg" i18n>Arhitekturni dolg</mat-option>
            <mat-option i18n-matTooltip matTooltip="•	Dokumentacijski dolg (angl. Documentation debt): Se nanaša na nezadostno, nepopolno
            ali zastarelo dokumentacijo v obdobju razvoja informacijske rešitve. Zajema tudi neustrezno dokumentacijo,
            ki ustrezno dokumentira obstoječ projekt, vendar projekt sam ne izpolnjuje določenih meril kakovosti
            programske opreme. Zraven nezadostne, nepopolne in zastarele dokumentacije je pokazatelj tudi pomanjkanje
            komentarjev v kodi. " matTooltipPosition="after"
                        (click)="tip_3()"  i18n-value value="dokumentacijski dolg" i18n>Dokumentacijski dolg</mat-option>
            <mat-option i18n-matTooltip matTooltip="•	Dolg testiranja (angl. Test debt): Opredeljuje bližnjice v testiranju in
            pomanjkanje izvedenih testov. Nanaša se tudi na težave najdene v aktivnostih testiranja, ki lahko vplivajo
            na kakovost le teh. Pokazatelji so slaba pokritost kode s testi, odlašanje s testiranjem, pomanjkanje ročnih
             in avtomatskih testov, testiranje, ki ne pokaže vseh napak, finančno potratni testi in ocena napak v
             testiranju ter drugi." matTooltipPosition="after"
                        (click)="tip_4()" i18n-value  value="dolg testiranja" i18n>Dolg testiranja</mat-option>
            <mat-option i18n-matTooltip matTooltip="•	Dolg programske kode (angl. Code debt): Je dolg zaradi slabo napisane kode, ki
             krši dobre prakse in pravila programiranja. Nanaša se na napake v izvorni kodi, ki lahko negativno vplivajo
              na berljivost kode in s tem otežujejo njeno vzdrževanje. Pokazatelji so nizko-kakovostna, podvojena,
              kompleksna koda in kršitve v kodiranju." matTooltipPosition="after"
                        (click)="tip_5()" i18n-value  value="dolg programske kode" i18n>Dolg programske kode</mat-option>
            <mat-option i18n-matTooltip matTooltip="•	Dolg napak v programu (angl. Defect debt): Zajema napake in neuspehe v programskem
            sistemu. Nanaša se na znane napake v kodi, ki jih identificiramo s testiranjem in so pogosto javljene s
            strani uporabnikov. Kadar se odprava dolga odlaša, postane koda težja za vzdrževanje. Pokazatelj dolga je
             veliko število znanih napak v kodi." matTooltipPosition="after"
                        (click)="tip_6()" i18n-value  value="dolg napak v programu" i18n>Dolg napak v programu</mat-option>
            <mat-option i18n-matTooltip matTooltip="•	Dolg nepopolnih zahtev projekta (angl. Requirements debt): Se nanaša na razliko med
            optimalnimi zahtevami specifikacij in dejansko implementacijo sistema pod domenskimi predpostavkami in
            omejitvami. Dolg označuje kompromis narejen med zahtevami, ki jih razvojna ekipa mora implementirati, in
            zahtevami, ki jih implementira. Pokazatelji dolga so delno implementirane zahteve in zahteve, ki so
            vključene, vendar ne zadovoljijo vseh nefunkcionalnih zahtev, kot so varnost in učinkovito delovanje."
                        matTooltipPosition="after"
                        (click)="tip_7()"  i18n-value value="dolg nepopolnih zahtev projekta" i18n>Dolg nepopolnih zahtev projekta</mat-option>
            <mat-option i18n-matTooltip matTooltip="•	Infrastrukturni dolg (angl. Infrastrucutre debt): Obsega infrastrukturne težave v
            organizaciji, ki razvija programsko opremo. Dolg lahko ustvari zamudo ali ovira aktivnosti razvijalcev.
            Pokazatelji dolga so ne posodabljanje strojne opreme in infrastrukture, raba zastarele tehnologije in
            orodij, pomanjkanje neprekinjene integracije in avtomatiziranih uvajanj ter slabo načrtovanje izdajanja
            programske opreme." matTooltipPosition="after"
                        (click)="tip_8()" i18n-value  value="infrastrukturni dolg" i18n>Infrastrukturni dolg</mat-option>
            <mat-option i18n-matTooltip matTooltip="•	Človeški dolg (angl. People debt): Kadar se v organizaciji, ki razvija programsko
            opremo, nahajajo težave v povezavi z zaposlenimi, lahko pride do zamud in oviranja pri izvajanju aktivnosti.
             Primer dolga je, ko ima podjetje premalo ljudi za razvoj, saj niso pravočasno poskrbeli za izobraževanje
             obstoječih ali zaposlitve novih zaposlenih." matTooltipPosition="after"
                        (click)="tip_9()" i18n-value  value="človeški dolg" i18n>Človeški dolg</mat-option>
            <mat-option i18n-matTooltip matTooltip="•	Dolg pomanjkanja avtomatskih testov (angl. Test automation debt): Vključuje delo
            avtomatskega testiranja že razvitih funkcionalnosti za podporo nadaljevalne integracije in hitrejšega
            razvojnega procesa. Dolg nastane, kadar v razvoju nimamo avtomatiziranih testov za že implementirane
            funkcionalnosti. Pregledana literatura uvršča dolg tudi kot pod tip dolga testiranja." matTooltipPosition="after"
                        (click)="tip_10()" i18n-value  value="dolg pomanjkanja avtomatskih testov"
                        i18n>Dolg pomanjkanja avtomatskih testov</mat-option>
            <mat-option i18n-matTooltip matTooltip="•	Procesni dolg (angl. Process debt): Nanaša se na neučinkovite procese, katerih raba
            ni več primerna." matTooltipPosition="after"
                        (click)="tip_11()"  i18n-value value="procesni dolg" i18n>Procesni dolg</mat-option>
            <mat-option i18n-matTooltip matTooltip="•	Dolg prevajanja projekta (angl. Build debt): Se nanaša na pomanjkljivosti v
            programskem sistemu in njegovem prevajanju. Pomanjkljivosti otežujejo prevajanje in ga podaljšajo ter
             povečajo potrebo po procesorski moči. Proces prevajanja lahko vsebuje za uporabnika nepotrebno kodo.
             Kadar prevajanje izvaja slabo definirane odvisnosti, postane postopek počasen. Ob tem pojavu lahko
             identificiramo dolg prevajanja projekta." matTooltipPosition="after"
                        (click)="tip_12()"  i18n-value value="dolg prevajanja projekta" i18n>Dolg prevajanja projekta</mat-option>
            <mat-option i18n-matTooltip matTooltip="•	Dolg menjave spletnih storitev (angl. Service debt): Nanaša se na neprimerno
            izbiro ali zamenjavo spletne storitve, kar vodi do neujemanja funkcionalnosti storitve z aplikacijskimi
            zahtevami. Lahko se zgodi, da vpeljana storitev uporablja sistemske vire na nepričakovan način. Opisan tip
             dolga je relevanten za sisteme, ki uporabljajo arhitekturo spletnih storitev." matTooltipPosition="after"
                        (click)="tip_13()" i18n-value  value="dolg menjave spletnih storitev" i18n>Dolg menjave spletnih storitev</mat-option>
            <mat-option i18n-matTooltip matTooltip="•	Dolg uporabnosti (angl. Usability debt): Zajema neprimerno rabo odločitev.
            Posledica tega je zmanjšana uporabnost sistema. Pokazatelj dolga je neupoštevanje standardov za uporabnost."
                        matTooltipPosition="after"
                        (click)="tip_14()" i18n-value  value="dolg uporabnosti" i18n>Dolg uporabnosti</mat-option>
            <mat-option i18n-matTooltip matTooltip="•	Dolg verzij programa (angl. Versioning debt): Se nanaša na problem različnih verzij
             izvorne kode. Pokazatelja dolga sta ne nujno razvejanje kode in podpora za več verzij."
                        matTooltipPosition="after"
                        (click)="tip_15()" i18n-value  value="dolg verzij programa" i18n>Dolg verzij programa</mat-option>
          </mat-select>
          <mat-error>
        <span
          *ngIf="dolgForm.get('tip').touched" i18n>Prosim vnesite tip</span>
          </mat-error>
        </mat-form-field>
        <mat-icon i18n-matTooltip matTooltip="Izberite tip dolga" matTooltipPosition="after">help</mat-icon>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-select i18n-placeholder placeholder="Podtip" formControlName="podtip"
                      >
            <mat-option *ngIf="tip1 == true"  i18n-value value="pomanjkljiva koda" i18n>Pomanjkljiva koda</mat-option>
            <mat-option *ngIf="tip1 == true" i18n-value  value="kompleksni razredi ali metode" i18n>Kompleksni razredi ali metode</mat-option>
            <mat-option *ngIf="tip1 == true"  i18n-value value="nečistoča" i18n>Nečistoča</mat-option>
            <mat-option *ngIf="tip1 == true"  i18n-value value="pomanjkljiva oblikovna navodila" i18n>Pomanjkljiva oblikovna navodila</mat-option>

            <mat-option *ngIf="tip2 == true"  i18n-value value="pomanjkljiva arhitektura" i18n>Pomanjkljiva arhitektura</mat-option>
            <mat-option *ngIf="tip2 == true"  i18n-value value="arhitekturni anti vzorci" i18n>Arhitekturni anti vzorci</mat-option>
            <mat-option *ngIf="tip2 == true"  i18n-value value="kompleksne arhitekturne vedenjske odvisnosti" i18n>Kompleksne arhitekturne vedenjske odvisnosti</mat-option>
            <mat-option *ngIf="tip2 == true"  i18n-value value="kršitve dobre arhitekturne prakse" i18n>Kršitve dobre arhitekturne prakse</mat-option>
            <mat-option *ngIf="tip2 == true"  i18n-value value="arhitekturna vprašanja skladnosti" i18n>Arhitekturna vprašanja skladnosti</mat-option>
            <mat-option *ngIf="tip2 == true"  i18n-value value="težave s kakovostjo strukture na ravni sistema" i18n>Težave s kakovostjo strukture na ravni sistema</mat-option>

            <mat-option *ngIf="tip3 == true"  i18n-value value="zastarela dokumentacija" i18n>Zastarela dokumentacija</mat-option>
            <mat-option *ngIf="tip3 == true"  i18n-value value="nepopolna dokumentacija" i18n>Nepopolna dokumentacija</mat-option>
            <mat-option *ngIf="tip3 == true"  i18n-value value="nezadostna dokumentacija" i18n>Nezadostna dokumentacija</mat-option>
            <mat-option *ngIf="tip3 == true"  i18n-value value="pomanjkanje komentarjev" i18n>Pomanjkanje komentarjev</mat-option>

            <mat-option *ngIf="tip4 == true"  i18n-value value="nizka kodna pokritost" i18n>Nizka kodna pokritost</mat-option>
            <mat-option *ngIf="tip4 == true"  i18n-value value="odpravljanje testiranja" i18n>Odpravljanje testiranja</mat-option>
            <mat-option *ngIf="tip4 == true"  i18n-value value="pomanjkanje testov" i18n>Pomanjkanje testov</mat-option>
            <mat-option *ngIf="tip4 == true"  i18n-value value="pomanjkanje avtomatskih testov" i18n>Pomanjkanje avtomatskih testov</mat-option>
            <mat-option *ngIf="tip4 == true"  i18n-value value="napake nenajdene s strani testov" i18n>Napake nenajdene s strani testov</mat-option>
            <mat-option *ngIf="tip4 == true"  i18n-value value="dragi testi" i18n>Dragi testi</mat-option>
            <mat-option *ngIf="tip4 == true"  i18n-value value="napake v planu testiranja" i18n>Napake v planu testiranja</mat-option>

            <mat-option *ngIf="tip5 == true"  i18n-value value="nizko kakovostna koda" i18n>Nizko kakovostna koda</mat-option>
            <mat-option *ngIf="tip5 == true"  i18n-value value="podvojena koda" i18n>Podvojena koda</mat-option>
            <mat-option *ngIf="tip5 == true"  i18n-value value="kršitve pisanja kode" i18n>Kršitve pisanja kode</mat-option>
            <mat-option *ngIf="tip5 == true"  i18n-value value="kompleksna koda" i18n>Kompleksna koda</mat-option>

            <mat-option *ngIf="tip6 == true"  i18n-value value="napake/hrošči" i18n>Napake/hrošči</mat-option>

            <mat-option *ngIf="tip7 == true"  i18n-value value="prekomerno inženirstvo" i18n>Prekomerno inženirstvo</mat-option>

            <mat-option *ngIf="tip8 == true"  i18n-value value="zastarela tehnologija" i18n>Zastarela tehnologija</mat-option>
            <mat-option *ngIf="tip8 == true"  i18n-value value="zastarela podporna orodja" i18n>Zastarela podporna orodja</mat-option>
            <mat-option *ngIf="tip8 == true"  i18n-value value="pomanjkanje stalnega povezovanja" i18n>Pomanjkanje stalnega povezovanja</mat-option>
            <mat-option *ngIf="tip8 == true"  i18n-value value="pomanjkanje avtomatskega uvajanja" i18n>Pomanjkanje avtomatskega uvajanja</mat-option>
            <mat-option *ngIf="tip8 == true"  i18n-value value="slabo načrtovanje izdajanja" i18n>Slabo načrtovanje izdajanja</mat-option>

            <mat-option *ngIf="tip9 == true"  i18n-value value="človeški dolg" i18n>Človeški dolg</mat-option>

            <mat-option *ngIf="tip10 == true"  i18n-value value="dolg pomanjkanja avtomatskih testov" i18n>Dolg pomanjkanja avtomatskih testov</mat-option>

            <mat-option *ngIf="tip11 == true"  i18n-value value="procesni dolg" i18n>Procesni dolg</mat-option>

            <mat-option *ngIf="tip12 == true"  i18n-value value="slabe odvisnosti" i18n>Slabe odvisnosti</mat-option>
            <mat-option *ngIf="tip12 == true"  i18n-value value="ročni postopek izdelave" i18n>Ročni postopek izdelave</mat-option>
            <mat-option *ngIf="tip12 == true"  i18n-value value="napaka avtomatske izdelave" i18n>Napaka avtomatske izdelave</mat-option>
            <mat-option *ngIf="tip12 == true"  i18n-value value="ročni postopek izdelave" i18n>Ročni postopek izdelave</mat-option>
            <mat-option *ngIf="tip12 == true"  i18n-value value="viden dolg prevajanja" i18n>Viden dolg prevajanja</mat-option>

            <mat-option *ngIf="tip13 == true"  i18n-value value="dolg menjave spletnih storitev" i18n>Dolg menjave spletnih storitev</mat-option>

            <mat-option *ngIf="tip14 == true"  i18n-value value="dolg uporabnosti" i18n>Dolg uporabnosti</mat-option>

            <mat-option *ngIf="tip15 == true"  i18n-value value="nepotrebno razvejanje kode" i18n>Nepotrebno razvejanje kode</mat-option>
            <mat-option *ngIf="tip15 == true"  i18n-value value="podpora za več različic" i18n>Podpora za več različic</mat-option>
          </mat-select>
          <mat-error>
        <span
          *ngIf="dolgForm.get('podtip').touched" i18n>Prosim vnesite podtip</span>
          </mat-error>
        </mat-form-field>
        <mat-icon i18n-matTooltip matTooltip="Izberite podtip dolga" matTooltipPosition="after">help</mat-icon>
        <mat-form-field class="example-full-width" appearance="outline">
          <textarea matInput i18n-placeholder placeholder="Opis" formControlName="opis"
                 ></textarea>
          <mat-error>
            <span *ngIf="!dolgForm.get('opis').valid && dolgForm.get('opis').touched" i18n>Prosim vnesite opis</span>
          </mat-error>
        </mat-form-field>
        <mat-icon i18n-matTooltip matTooltip="Opišite dolg, njegove posledice in prepoznane simptome" matTooltipPosition="after">help</mat-icon>
        <mat-form-field class="example-full-width" appearance="outline">
          <textarea matInput i18n-placeholder placeholder="Obseg" formControlName="obseg"
                 ></textarea>
          <mat-error>
            <span *ngIf="!dolgForm.get('obseg').valid && dolgForm.get('obseg').touched" i18n>Prosim vnesite obseg</span>
          </mat-error>
        </mat-form-field>
        <mat-icon i18n-matTooltip matTooltip="Kaj dolg zajema in kje ga najdemo, seznam datotek, razredov, metod, dokumentov, strani..."
                  matTooltipPosition="after">help</mat-icon>
        <mat-form-field class="example-full-width" appearance="outline">
          <input matInput class="example-right-align" type="number" i18n-placeholder placeholder="Ocena" formControlName="ocena"
                 >
          <span matSuffix>{{projekt.tip_ocena}}</span>
          <mat-error>
            <span *ngIf="!dolgForm.get('ocena').valid && dolgForm.get('ocena').touched" i18n>Prosim vnesite oceno</span>
          </mat-error>
        </mat-form-field>
        <mat-icon i18n-matTooltip matTooltip="Ocenite količino dolga" matTooltipPosition="after">help</mat-icon>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-select i18n-placeholder placeholder="Kritičnost" formControlName="kriticnost"
                      >
            <mat-option  i18n-value value="blokada" i18n>Blokada</mat-option>
            <mat-option  i18n-value value="kritična" i18n>Kritična</mat-option>
            <mat-option  i18n-value value="visoka" i18n>Visoka</mat-option>
            <mat-option  i18n-value value="srednja" i18n>Srednja</mat-option>
            <mat-option  i18n-value value="nizka" i18n>Nizka</mat-option>
          </mat-select>
          <mat-error>
        <span
          *ngIf="!dolgForm.get('kriticnost').valid && dolgForm.get('kriticnost').touched" i18n>Prosim vnesite kritičnost</span>
          </mat-error>
        </mat-form-field>
        <mat-icon i18n-matTooltip matTooltip="Označite kritičnost dolga" matTooltipPosition="after">help</mat-icon>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-select i18n-placeholder placeholder="Status" formControlName="status"
                      >
            <mat-option  i18n-value value="odprt" i18n>Odprt</mat-option>
            <mat-option  i18n-value value="v delu" i18n>V delu</mat-option>
            <mat-option  i18n-value value="ponovno odprt" i18n>Ponovno odprt</mat-option>
            <mat-option  i18n-value value="rešeno" i18n>Rešeno</mat-option>
            <mat-option  i18n-value value="zaključeno" i18n>Zaključeno</mat-option>
          </mat-select>
          <mat-error>
        <span
          *ngIf="!dolgForm.get('status').valid && dolgForm.get('status').touched" i18n>Prosim vnesite status</span>
          </mat-error>
        </mat-form-field>
        <mat-icon i18n-matTooltip matTooltip="Označite status dolga" matTooltipPosition="after">help</mat-icon>
        <mat-divider></mat-divider>
        <div class="button-row">
          <button type="submit" [disabled]="!dolgForm.valid" mat-raised-button color="accent">
            <mat-icon>save</mat-icon>
          </button>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
  <button mat-button (click)="onNoClick()" i18n>Zapri</button>
</div>

