.button-row {
  margin: 2%;
}

.flex-container-vertical-main {
  display: flex;
  flex-direction: column;
  margin: 15px;
  color: dimgrey;
  max-height: 525px;
  overflow-y:auto
}

.flex-container-vertical-main > div {
}

.flex-container-vertical-head {
  display: flex;
  background-color: #f5f5f5;
  flex-direction: column;
}

.flex-container-vertical-head > div {
  background-color: #f5f5f5;
  margin: 5px;
  padding: 3px;
  font-size: 20px;
}

.flex-container-horizontal-name-date {
  display: flex;
  background-color: #ffffff;
  flex-direction: row;
  justify-content: space-between;
}

.flex-container-horizontal-name-date > div {
  background-color: #ffffff;
  margin: 5px;
  padding: 10px;
  font-size: 15px;
}

.flex-container-horizontal-data-members {
  display: flex;
  background-color: #ffffff;
  flex-direction: row;
  justify-content: space-between;
}

.flex-container-horizontal-data-members > div {
  background-color: #ffffff;
  margin: 5px;
  padding: 10px;
  font-size: 15px;
}

.flex-container-vertical-data {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
}

.flex-container-vertical-data > div {
  background-color: #ffffff;
  margin: 5px;
  padding: 10px;
  font-size: 15px;
}

.flex-container-vertical-members {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
}

.flex-container-vertical-members > div {
  background-color: #ffffff;
  margin: 5px;
  padding: 10px;
  font-size: 15px;
}

.flex-container-horizontal-edit-delete {
  display: flex;
  background-color: #ffffff;
  flex-direction: row;
  justify-content: space-between;
}

.flex-container-horizontal-edit-delete > div {
  background-color: #ffffff;
  margin: 5px;
}
/*
.mat-toolbar-row, .mat-toolbar-single-row {
        height: 84px;
        padding-top: 20px;
    }*/
