div.topnav {
  z-index: 2;
  background-color:#4caf50;
  color: white;
  padding: 10px;
  font-size: 25px;
  height: 40px;
}

.desno-gumb {
  position: absolute;
  right: 5%;
  top: 11px;
}

.welcome {
  padding: 70px 0;
}

.mala_slika {
  position: absolute;
  height: 50px;
  top: 6px;
  left: 2%;
  width: 50px;
  bottom: 1%;
}

.ime {
  position: absolute;
  top: 13px;
  left: 6%;
  bottom: 1%;
}

.desno_slika_profila {
  position: absolute;
  right: 12%;
  top: 20px;
}
