<mat-toolbar color="accent">
  <span i18n>Dolgovi izbranega projekta</span>
  <span class="example-fill-remaining-space"></span>
  <span><app-dolg-ustvari></app-dolg-ustvari></span>
</mat-toolbar>
<div class="spinner_sredina">
  <mat-spinner></mat-spinner>
</div>
