.spinner_sredina {
  position: absolute;
  top: 45%;
  left: 45%;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
